plantnursery/pom.dtd

<!ELEMENT project (modelVersion,groupId,artifactId,version,packaging,properties,dependencyManagement,dependencies,build)>
<!ELEMENT modelVersion (#PCDATA)>
<!ELEMENT groupId (#PCDATA)>
<!ELEMENT artifactId (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT packaging (#PCDATA)>
<!ELEMENT properties (java.version,spring.boot.version)>
<!ELEMENT java.version (#PCDATA)>
<!ELEMENT spring.boot.version (#PCDATA)>
<!ELEMENT dependencyManagement (dependencies)>
<!ELEMENT dependencies (dependency+)>
<!ELEMENT dependency (groupId,artifactId,version?,type?,scope?,optional?)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT scope (#PCDATA)>
<!ELEMENT optional (#PCDATA)>
<!ELEMENT build (plugins)>
<!ELEMENT plugins (plugin)>
<!ELEMENT plugin (groupId,artifactId)>